/target
node_modules/
examples/jpcg_app/dist/
*.tsbuildinfo
*.rlib
examples/jpcg_app/src-tauri/binaries/
examples/jpcg_app/src-tauri/saved_config.toml
**/.DS_Store
data/raw-src/
__pycache__/
data.zip
